.badge {
  display: inline-flex;
  align-items: center;
  border-radius: 0.375rem;
  background-color: var(--bg-color);
  padding-inline: calc(var(--spacing) * 2);
  padding-block: var(--spacing);
  font-size: 0.75rem;
  color: var(--text-color);
  box-shadow:
    0 0 #0000,
    inset 0 0 0 1px var(--inset-ring-color),
    0 0 #0000,
    0 0 #0000,
    0 0 #0000;
}

.neutral {
  --bg-color: #f9fafb;
  --text-color: #4a5565;
  --inset-ring-color: color-mix(in oklab, #6a7282 10%, transparent);
}

.success {
  --bg-color: #f0fdf4;
  --text-color: #008236;
  --inset-ring-color: color-mix(in oklab, #00a63e 20%, transparent);
}

.warning {
  --bg-color: #fefce8;
  --text-color: #894b00;
  --inset-ring-color: color-mix(in oklab, #d08700 20%, transparent);
}
