.dialogBody {
  padding-inline: calc(var(--spacing) * 4);
  padding-top: calc(var(--spacing) * 5);
  padding-bottom: calc(var(--spacing) * 4);

  @media (width >= 40rem) {
    display: flex;
    align-items: flex-start;
  }
}

.alertIconContainer {
  margin-inline: auto;
  display: flex;
  height: 48px;
  width: 48px;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  border-radius: calc(infinity * 1px);
  background-color: #ffe2e2;
  color: #c94a4a;

  @media (width >= 40rem) {
    margin-inline: 0;
    height: 40px;
    width: 40px;
  }
}

.dialogText {
  margin-top: calc(var(--spacing) * 3);
  text-align: center;

  @media (width >= 40rem) {
    margin-top: 0;
    margin-left: calc(var(--spacing) * 4);
    text-align: left;
  }
}

.dialogTitle {
  font-weight: 700;
}

.dialogMessage {
  margin-top: calc(var(--spacing) * 2);
  font-size: 0.875rem;
  color: var(--color-accent);
}

.dialogActions {
  padding-inline: calc(var(--spacing) * 4);
  padding-block: calc(var(--spacing) * 3);
  background-color: #f9fafb;

  @media (width >= 40rem) {
    display: flex;
    flex-direction: row-reverse;
    padding-inline: calc(var(--spacing) * 6);
  }
}

.button {
  display: inline-flex;
  width: 100%;
  justify-content: center;
  border-radius: 0.375rem;
  padding-inline: calc(var(--spacing) * 3);
  padding-block: calc(var(--spacing) * 2);
  font-size: 0.875rem;
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
  cursor: pointer;

  @media (width >= 40rem) {
    width: auto;
  }
}

.button.danger {
  background-color: #c94a4a;
  color: var(--color-base);

  &:hover {
    background-color: #9f0712;
  }

  &:disabled {
    background-color: #e0a3a3;
    cursor: initial;
  }

  @media (width >= 40rem) {
    margin-left: calc(var(--spacing) * 3);
  }
}

.button.neutral {
  margin-top: calc(var(--spacing) * 3);
  background-color: var(--color-base);
  color: var(--color-accent);
  box-shadow:
    0 0 #0000,
    inset 0 0 0 1px oklch(87.2% 0.01 258.338),
    0 0 #0000,
    0 0 #0000,
    0 0 #0000;

  &:hover {
    color: var(--color-text);
  }

  @media (width >= 40rem) {
    margin-top: 0;
  }
}

.error {
  margin-top: calc(var(--spacing) * 4);
}
