.header,
.container {
  margin-inline: 24px;

  @media (width >= 48rem) {
    margin-inline: 112px;
  }
}

.header {
  display: flex;
  margin-top: 24px;
  border-bottom: 1px solid var(--color-input);
}

.heading {
  position: relative;
  bottom: -1px;
  padding-bottom: 16px;
  border-bottom: 1px solid var(--color-text);
}
