.heading,
.formContainer,
.error {
  margin-inline: calc(var(--spacing) * 6);
  max-width: 42rem;

  @media (width >= 40rem) {
    margin: auto;
  }
}

.heading {
  font-family: "Playfair Display";
  font-weight: 700;
  font-size: 1.75rem;
  text-align: center;
  margin-top: calc(var(--spacing) * 6);
}

.formContainer {
  margin-top: calc(var(--spacing) * 10);
}

.formSection {
  margin-bottom: calc(var(--spacing) * 6);
}

.label {
  display: block;
}

.formControl {
  display: block;
  background-color: var(--color-input);
  margin-top: calc(var(--spacing) * 2);
  width: 100%;
  border-radius: 0.375rem;
  padding-inline: calc(var(--spacing) * 3);
  padding-block: calc(var(--spacing) * 1.5);

  &:focus {
    outline: 2px solid var(--color-text);
    outline-offset: calc(2px * -1);
  }
}

.toggleSection {
  display: flex;
  gap: 0.75rem;
}

.toggle {
  position: relative;
  display: inline-flex;
  align-items: center;
  width: 2.75rem;
  height: 1.5rem;
  flex-shrink: 0;
  border-radius: 9999px;
  background-color: #e5e7eb;
  padding: 0.125rem;
  box-shadow: inset 0 0 0 1px oklab(100% 0 0 / 0.1);
  transition: background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
  outline-offset: 2px;
  outline-color: #000;

  &:has(:checked) {
    background-color: #000;

    .slider {
      transform: translateX(1.25rem);
    }
  }

  .slider {
    width: 1.25rem;
    height: 1.25rem;
    border-radius: 9999px;
    background-color: #fff;
    box-shadow:
      0 0 0 1px oklab(0.21 -0.00316127 -0.0338527 / 0.05),
      rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
    transition:
      transform 0.2s cubic-bezier(0.4, 0, 0.2, 1),
      background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  }

  input[type="checkbox"] {
    position: absolute;
    inset: 0;
    opacity: 0;
    cursor: pointer;
    margin: 0;
  }
}

.submitButton {
  display: flex;
  width: 100%;
  justify-content: center;
  border-radius: 0.375rem;
  background-color: var(--color-text);
  color: var(--color-base);
  padding-inline: calc(var(--spacing) * 3);
  padding-block: calc(var(--spacing) * 1.5);
  cursor: pointer;

  &:hover {
    background-color: #374151;
  }

  &:disabled {
    cursor: initial;
    background-color: var(--color-accent);
  }
}

.error {
  margin-block: calc(var(--spacing) * 10);
}
