.article,
.comments {
  padding-inline: 24px;

  > * {
    @media (width >= 40rem) {
      margin-inline: auto;
      width: 100%;
      max-width: 680px;
    }
  }
}

.article {
  padding-block: 32px;
  border-bottom: 1px solid var(--color-input);
  margin-bottom: 64px;
}

.header {
  margin-bottom: 24px;
}

.title {
  font-size: 2rem;
  font-weight: 700;
}

.titleStrip {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.metadata {
  display: flex;
  align-items: center;
  margin-top: 12px;
  gap: 16px;
  font-size: 0.875rem;
  color: var(--color-accent);
}

.action,
.delete {
  cursor: pointer;

  &:hover {
    color: var(--color-text);
  }
}

.delete {
  --color-text: #9f0712;
  color: #c94a4a;
}

.content > * {
  all: revert;
}
